@import "../default/universalStyles.scss";

div.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.about-section {
  margin: 0 1rem;
}

.about-us {
  font-family: $headerFont;
  font-size: $mobileTitleFontSize;
  color: $textColorLight;
  text-align: left;
  margin-bottom: 2px;
}

.about-welcome {
  font-family: $headerFont;
  font-size: $mobileTitleFontSize;
  color: $textColorLight;
}

.about-text {
  font-family: $bodyFont;
  font-size: $mobileBodyTextSize;
  color: $textColorLight;
  margin-bottom: 30px;
}

@media (min-width: 1000px) {
  .about-welcome {
    font-family: $headerFont;
    color: $textColorLight;
    margin: 0;
  }
  .about-text {
    max-width: 100%;
    font-size: $bodyFontSize;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .about-us {
    font-size: $headerFontSize;
    text-align: left;
    margin-left: 10px;
  }
}

.api-logo {
  width: 70px;
  height: 70px;
}

.credits {
  padding-top: 2rem;
}