@import '../default/universalStyles.scss';

.about-us {
    font-family: $headerFont;
    font-size: $mobileTitleFontSize;
    color: $textColorLight;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 0;
}

.hLineShort {
    height: 0.2rem;
    width: 200px;
    background-color: $accentColor;
    margin-bottom: 50px;
}

.about-welcome {
    font-family: $headerFont;
    font-size: $mobileTitleFontSize;
    color: $textColorLight;
    text-align: center;
}

.about-text {
    font-family: $bodyFont;
    font-size: $mobileBodyTextSize;
    color: $textColorLight;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 80%;
}

@media (min-width: 520px) {
    .about-text {
        max-width: 450px;
    } 
}

@media (min-width: 1000px) {

    .about-welcome {
        font-family: $headerFont;
        font-size: $headerFontSize;
        color: $textColorLight;
        text-align: center;
    }
    .about-text {
        max-width: 675px;
        font-size: $bodyFontSize;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .about-us {
        font-size: $headerFontSize;
        text-align: left;
        margin-left: 10px;
    }
    .hLineShort {
        width: 350px;
    }
}