@use "../default/universalStyles" as *;

footer {
  background-color: $backgroundColor;
  color: $textColorLight;
  text-align: center;
  font-family: $bodyFont;
  max-width: 1600px;
  margin: 0 auto;

  .hLine {
    height: 0.2rem;
    width: 100%;
    background-color: $accentColor;
    margin-bottom: 1rem;
  }

  .hLine2 {
    height: 0.2rem;
  }

  span {
    display: block;
  }

  @media (min-width: 382px) {
    padding: 0 1rem;
  }
}
