@use '../default/universalStyles' as *;
@use '../utilities/mixins' as *;

header {
    background-color: $backgroundColor;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-family: $headerFont;

    a {
        color: $textColorLight;
        text-decoration: none;
    }

    .filmtown a{
        color: $accentColor;
        text-transform: uppercase;
        font-size: $titleFontSize;
    }

}

.hLine {
    height: 0.2rem;
    width: 100%;
    background-color: $accentColor;
    margin-bottom: 1rem;
    bottom: 0rem;
}