@import '../default/universalStyles.scss';

body {
    background-color: $backgroundColor;
    margin: $pageMarginMobile;
}

p {
    color:$textColorLight;
}

.heart {
    padding: 3px;
    max-height: 20px;
    max-width: 24px;

}

.info-image-container {
    max-width: 230px;
    margin: 0 auto;
    // z-index: -10;
}

.movie-info-container {
    display: flex;
    justify-content: space-between;
    line-height: 0;
}

.poster-container {
    max-width: 269px;
}

.hover-container {
    z-index: 10;
    border: 2px solid pink;
    padding: .5rem;
    position: absolute;
    width: 220px;
    height: 340px; 
    background-color: black;
    opacity: 0%;

    @media (min-width: 520px) {
        
    // z-index: 10;
    // border: 2px solid pink;
    // padding: .5rem;
    // position: absolute;
    width: 172px;
    height: 261.5px;
    background-color: black;
    opacity: 0%;
    }

}


.hover-container:hover {
    opacity: 100%;

    @media (min-width: 520px) {
        z-index: 2000;
        opacity: 100%;
    }
}


img.mass-poster {
    border: 3px solid $accentColor;
    width: 100%;
    position: relative;
    z-index: -10;
}

.title-icon-container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 520px) {
    .poster-container {
        z-index: -8;
        // max-width: 270px;
        // max-height: 405px;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 20px 0 20px;
    }
    .movie-container {
        display: flex;
        flex-wrap: wrap;
        z-index: -1000;
        
    }
    img.mass-poster {
        // max-width: 185px;
        // max-height: 375px;
        width: 100%;
        position: relative;
        z-index: -15;
    }

    .movie-title,
    .movie-date {
        margin-left: 18px;
    }
    .movie-rating {
        margin-right: 24px;
    }

    .heart {
        margin-right: 20px;
    }
    
}

@media (min-width: 1625px) {
    .movie-container {
        max-width: 1600px;
        margin: 0 auto;
    }
}
