//Default styles

//colours
$backgroundColor: #000000;
$accentColor: #00c6ff;
$heart: #eb51b6;
$iconOutline: #fff;
$hover: #fff;


//Type

$headerFont:'Salden', sans-serif;
$bodyFont:'Prompt', sans-serif;


//Type colour
$textColorLight: #fff;
$textColorDark: #000;

//Font Size
$mobileTitleFontSize: 1.375rem;
$mobileBodyTextSize: 1rem;


$titleFontSize: 3rem;
$headerFontSize: 3.75rem;
$bodyFontSize: 1.5rem;
$hamburgerTextSize: 2.25rem;

// Layout
$pageMarginDesktop: 8rem 4rem 0 4rem;
$pageMarginMobile: 4rem 1rem 0 1rem;

