@use '../default/universalStyles' as *;
@use '../utilities/mixins' as *;

.filter {
    background-color: $accentColor;
    padding: 0.4rem 0.5rem;
    text-align: center;
    margin: 0.3rem;
    width:114px;
    border: 2px solid $accentColor;
    font-weight: bold;

}

.filter-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter.popular:hover,
.filter.now-playing:hover,
.filter.top-rated:hover,
.filter.upcoming:hover {
    background-color: $hover;
}

// .filter-btns li:hover {
//     background-color: $hover;
// }

ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

.filter a {
    color: $textColorDark;
    text-transform: uppercase;
}

.filter:active {
    background-color: $textColorLight;
}

